
  /* @media (min-width: 768px) {
    .pokemon-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  } */


.pokemon-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  /* background: #f4f4f4; */
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.card-logo {
  width: 7rem;
  height: 7rem;
}

.pokemon-card__titulo {
  display: grid;

  justify-content: center;
  margin-top: 1rem;
}

.pokemon-card h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.pokemon-card__imagen {
  align-items: center;
  position: relative;
  height: 15rem;
  width: 16rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.imagen-pokemon{
  width: 12rem;
  height: 12rem;
}

.pokemon-types {
  margin-top: 10px;
  display: grid;   
  gap: 1rem;         
  height: 2rem;
  width: 100%;
}

.type {
  padding: .2rem 3rem;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



